{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block fils %}
	{% for message in app.flashes('danger') %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endfor %}
	<div class="card text-small mx-auto mb-auto mt-auto">
		<div class="card-body">
			<div class="card-header">
				<h3 class="h3 mb-3 font-weight-normal card-title">Mot de passe oublié</h3>
			</div>
			<br/>
			<h6 class="card-subtitle mb-2 text-muted">Saisissez l'adresse e-mail associé à votre compte Ovd.</h6>

			{{ form(emailForm,{'attr':{'id': 'form_registeur'}}) }}
				<a href="{{path('app_login')}}" class="btn btn-secondary card-link">Annuler</a>
			</div>

		</div>

	{% endblock %}
	{% block javascripts %}
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
		<script src="{{ asset('js/register-valide.js') }}"></script>
	{% endblock %}
