{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe
{% endblock %}

{% block fils %}
	
	<div class="container">
		<div class="card text-small mx-auto mb-auto mt-auto">
		<div class="card-body">
			<div class="card-header">
				{% for message in app.flashes('errer') %}
					<div class="text-danger text-small">
						{{message}}
					</div>
				{% endfor %}
				<h3 class="h3 mb-3 font-weight-normal card-title">Réinitialisation du mot de passe</h3>
			</div>
			<br/>
			<h6 class="card-subtitle mb-2 text-muted">Veuillez entrer votre nouveau mot de passe ci-dessous.</h6>
			{{form(form,{'attr':{'id': 'form_registeur'}})}}
				<a href="{{path('app_login')}}" class="btn btn-secondary card-link">Annuler</a>
			</div>
		</div>
	</div>
	</div>

{% endblock %}
{% block javascripts %}
	
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
	<script src="{{ asset('scripts/JSFORMPNAC/reset_password-valide.js') }}"></script>
{% endblock %}
