
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="title" style="font-size:16px;">Entreprise Collecte de Dechet</h6>
      <p>L'entreprise collecte des déchets a pour principale mission la vente de déchets collecte dans les villes de Djibouti.</p>
      <p class="btmspace-15"> La confidentialité de vos donnees personnel est notre priorite , Merci pour votre confiance .</p>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Addresse et Contacte</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
		  Pk12 Balbala Djibouti &amp; BP: 1904
          </address>
        </li>
        <li><i class="fa fa-phone"></i> + 253 21 36 23 15</li>
        <li><i class="fa fa-fax"></i> + 253 21 36 15 62</li>
        <li><i class="fa fa-envelope-o"></i> NOREPLY.COLLECT.DECHETS@GMAIL.COM </li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Horaire d'ouverture et fermeture</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Ouverture</a></h2>
            <time class="font-xs block btmspace-10" datetime="2045-04-06">Tout le jour , Sauf Vendredi et Samedi </time>
            <p class="nospace">de 8h a 12h  de 14h a 17h&hellip;</p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Anniversaire</a></h2>
            <time class="font-xs block btmspace-10" datetime="2020-01-01">Thirsday, 5<sup>th</sup> April 2020</time>
            <p class="nospace">Date de la creation de l'entreprise&hellip;</p>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">  
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Entreprise Collecte de Dechets</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>























		{# <footer class="pt-5 pb-4 mt-5 text-white bg-dark " id="contact" style="background-color:#4B5156">
			<div class="container  style="background-color:#4B5156">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold ml-4">à propos de nous</h5>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-map-marker fa-1x" style="color:#FFF; padding:0 15px 0 0;" ></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Address:</h6>
										<p>Pk12 Balbala Djibouti BP: 1904</p>
									</div>
								</div>
							</li> 
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-envelope fa-1x" style="color:#FFF; padding:0 15px 0 0;" ></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Avez-vous des questions?</h6>
										<p><a href="#">OVD@help.com</a></p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-phone fa-1x" style="color:#FFF; padding:0 15px 0 0;" ></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Address:</h6>
										<p><a href="#">+253 21 36 23 15</a></p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold ml-4"> Communautés</h5>
						<ul class="f-address">
							<li>
								<div class="row">
									
									<div class="col-10">
										<h6 class="font-weight-bold mb-5"><a href="#">Investisseurs</a></h6>
									</div>
								</div>
								
							</li>
							<div class="w-100"></div>
							<li>
								<div class="row">
									
									<div class="col-10">
										<h6 class="font-weight-bold mb-5"><a href="#">Developpeurs</a></h6>
										
									</div>
								</div>
								
							</li>
							<div class="w-100"></div>
							<li>
								<div class="row">
									
									<div class="col-10">
										<h6 class="font-weight-bold mb-5"><a href="#">Vendeurs</a></h6>
										
									</div>
								</div>
								
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold ml-2">DERNIÈRES MISES À JOUR</h5>
						<ul class="recent-post">
							<li>
								<label class="mr-3">28 <br><span>APR</span></label>
								<span>Mots rendus qui ne semblent pas évitables.</span>
							</li>
							<li>
								<label class="mr-3">29 <br><span>APR</span></label>
								<span>Mots rendus qui ne semblent pas évitables.</span>
							</li>
							<li>
								<label class="mr-3">30 <br><span>APR</span></label>
								<span>Mots rendus qui ne semblent pas évitables.</span>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4 ">
						<h5 class="mb-5 font-weight-bold ">CONNECTE-TOI AVEC NOUS</h5>
						
						<ul class="social-pet mt-3">
							<li><a href="https://www.facebook.com/Service-OVD-873091676209602" title="facebook"> <i class="fa fa-facebook fa-2x" style="color:#FFF;padding:0 10px 0 0; " ></i></a></li>
							<li><a href="#" title="twitter"> <i class="fa fa-twitter  fa-2x" style="color:#FFF; padding:0 5px 0 0;" ></i></a></li>
							<li><a href="#" title="google-plus"> <i class="fa fa-google fa-2x" style="color:#FFF; padding:0 9px 0 0;" ></i></a></li>
							<li><a href="#" title="instagram"> <i class="fa fa-instagram fa-2x" style="color:#FFF; padding:0 8px 0 0;" ></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="text-center text-white">
							&copy; 2019 SERVICE OVD . Tous les droits sont réservés.
						</div>
					</div>
				</div>
			</div>
		</section>
<!-- partial --> #}