
		<footer class="pt-5 pb-4 mt-5 text-white bg-dark " id="contact" style="background-color:#4B5156">
			<div class="container  style="background-color:#4B5156">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold ml-4">à propos de nous</h5>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-map-marker fa-1x" style="color:#FFF; padding:0 15px 0 0;" ></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Address:</h6>
										<p>Pk12 Balbala Djibouti BP: 1904</p>
									</div>
								</div>
							</li> 
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-envelope fa-1x" style="color:#FFF; padding:0 15px 0 0;" ></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Avez-vous des questions?</h6>
										<p><a href="#">OVD@help.com</a></p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-phone fa-1x" style="color:#FFF; padding:0 15px 0 0;" ></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Address:</h6>
										<p><a href="#">+253 21 36 23 15</a></p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold ml-4"> Communautés</h5>
						<ul class="f-address">
							<li>
								<div class="row">
									
									<div class="col-10">
										<h6 class="font-weight-bold mb-5"><a href="#">Investisseurs</a></h6>
									</div>
								</div>
								
							</li>
							<div class="w-100"></div>
							<li>
								<div class="row">
									
									<div class="col-10">
										<h6 class="font-weight-bold mb-5"><a href="#">Developpeurs</a></h6>
										
									</div>
								</div>
								
							</li>
							<div class="w-100"></div>
							<li>
								<div class="row">
									
									<div class="col-10">
										<h6 class="font-weight-bold mb-5"><a href="#">Vendeurs</a></h6>
										
									</div>
								</div>
								
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold ml-2">DERNIÈRES MISES À JOUR</h5>
						<ul class="recent-post">
							<li>
								<label class="mr-3">28 <br><span>APR</span></label>
								<span>Mots rendus qui ne semblent pas évitables.</span>
							</li>
							<li>
								<label class="mr-3">29 <br><span>APR</span></label>
								<span>Mots rendus qui ne semblent pas évitables.</span>
							</li>
							<li>
								<label class="mr-3">30 <br><span>APR</span></label>
								<span>Mots rendus qui ne semblent pas évitables.</span>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4 ">
						<h5 class="mb-5 font-weight-bold ">CONNECTE-TOI AVEC NOUS</h5>
						
						<ul class="social-pet mt-3">
							<li><a href="https://www.facebook.com/Service-OVD-873091676209602" title="facebook"> <i class="fa fa-facebook fa-2x" style="color:#FFF;padding:0 10px 0 0; " ></i></a></li>
							<li><a href="#" title="twitter"> <i class="fa fa-twitter  fa-2x" style="color:#FFF; padding:0 5px 0 0;" ></i></a></li>
							<li><a href="#" title="google-plus"> <i class="fa fa-google fa-2x" style="color:#FFF; padding:0 9px 0 0;" ></i></a></li>
							<li><a href="#" title="instagram"> <i class="fa fa-instagram fa-2x" style="color:#FFF; padding:0 8px 0 0;" ></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="text-center text-white">
							&copy; 2019 SERVICE OVD . Tous les droits sont réservés.
						</div>
					</div>
				</div>
			</div>
		</section>
<!-- partial -->