{% extends 'base.html.twig' %}
{% block title %}Transaction Effectue
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block fils %}





<div class="container">
    <div class="col-12 mt-5">
          
          <div class="alert alert-success text-center" role="alert">
            <h4 class="alert-heading">Votre transaction c'est bien derouler</h4>
              <p> <span> Cliquez le boutton </span> <strong style="font-size:15px;"><a href="{{path('app_commander_mescommander')}}" role="button" class="card-link ">Vos Commandes</a> </strong> pour consulte vos commander <br/></p>
            <p> Ou revenez à l'acceuil <strong style="font-size:15px;"><a href="{{path('home')}}" role="button" class="">Acceuil</a> </strong><br/></p>
          </div>

    </div>
</div>


{% endblock %}